/*item*/
li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

li:hover{
  background-color: #ddd;
}

li button[class='btn btn-danger'] {
  float: right;
  margin-top: 3px;
  display: none;
}

li:hover button[class='btn btn-danger'] {
  display: inline-block;
}

li label {
  float: left;
  cursor: pointer;
}



li:before {
  content: initial;
}

li:last-child {
  border-bottom: none;
}